<a href="https://colab.research.google.com/github/steve122192/DS-Unit-2-Applied-Modeling/blob/master/module1-define-ml-problems/LS_DS_231_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [1]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving college.csv to college.csv
Saving nfl.csv to nfl.csv

In [2]:
nfl=pd.read_csv('nfl.csv')
nfl

      Rk          Player  From  ... Passing T Passing 4QC Passing GWD
0      1      Drew Brees  2001  ...         0          35          50
1      2       Tom Brady  2000  ...         0          36          45
2      3  Peyton Manning  1998  ...         0          43          54
3      4     Brett Favre  1991  ...         0          28          43
4      5   Philip Rivers  2004  ...         0          27          32
..   ...             ...   ...  ...       ...         ...         ...
546  528    Todd Whitten  1987  ...         0         NaN         NaN
547  529  John Witkowski  1988  ...         0         NaN         NaN
548  530   Tory Woodbury  2001  ...         0         NaN         NaN
549  531     Scott Woolf  1987  ...         0         NaN         NaN
550  532      Todd Husak  2000  ...         0         NaN         NaN

[551 rows x 31 columns]

In [0]:
nfl = nfl[nfl['Rk'] != 'Rk']

In [0]:
nfl['To'] = pd.to_numeric(nfl['To'])
nfl['From'] = pd.to_numeric(nfl['From'])
nfl['Games GS'] = pd.to_numeric(nfl['Games GS'])

In [0]:
nfl['Seasons'] = (nfl['To']-nfl['From'])+1
nfl = nfl[['Player','Seasons','Games GS']]

In [8]:
nfl['starts_per_season'] = nfl['Games GS']/nfl['Seasons']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
nfl = nfl[['Player','starts_per_season']]
nfl

             Player  starts_per_season
0        Drew Brees          14.421053
1         Tom Brady          14.150000
2    Peyton Manning          14.722222
3       Brett Favre          14.900000
4     Philip Rivers          14.000000
..              ...                ...
546    Todd Whitten           0.000000
547  John Witkowski           0.000000
548   Tory Woodbury           0.000000
549     Scott Woolf           0.000000
550      Todd Husak           0.000000

[532 rows x 2 columns]

In [10]:
college = pd.read_csv('college.csv')
college

        Rk          Player  From  ... Passing TD Passing Int Passing Rate
0        1     Case Keenum  2007  ...        155          46        160.6
1        2    Kellen Moore  2008  ...        142          28        169.0
2        3  Graham Harrell  2005  ...        134          34        154.4
3        4    Colt Brennan  2005  ...        131          42        167.6
4        5     Rakeem Cato  2011  ...        131          44        145.8
...    ...             ...   ...  ...        ...         ...          ...
1451  1396    Jordy Joseph  2013  ...          6           3        122.7
1452  1397    Blake Jurich  2011  ...          6           7        118.9
1453  1398        Joe Kemp  2008  ...          6           7        139.4
1454  1399     Jeff Lockie  2013  ...          6           5        121.9
1455  1400    Carl Meadows  2004  ...          6          10         94.4

[1456 rows x 13 columns]

In [0]:
df = pd.merge(nfl, college, on='Player', how='outer')

In [12]:
df.dropna(subset=['Rk'], inplace=True)

cols = df.columns[3:5]
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce', axis=1)

cols = df.columns[6:]
df[cols] = df[cols].apply(pd.to_numeric, errors='coerce', axis=1)

df.dtypes

Player                object
starts_per_season    float64
Rk                    object
From                 float64
To                   float64
School                object
G                    float64
Passing Cmp          float64
Passing Att          float64
Passing Pct          float64
Passing Yds          float64
Passing TD           float64
Passing Int          float64
Passing Rate         float64
dtype: object

In [13]:
df

                  Player  starts_per_season  ... Passing Int  Passing Rate
0             Drew Brees          14.421053  ...        12.0         132.4
4          Philip Rivers          14.000000  ...        34.0         144.1
5            Eli Manning          14.625000  ...        35.0         137.7
6     Ben Roethlisberger          13.500000  ...        34.0         151.3
7              Matt Ryan          15.750000  ...        37.0         126.3
...                  ...                ...  ...         ...           ...
1775        Jordy Joseph                NaN  ...         3.0         122.7
1776        Blake Jurich                NaN  ...         7.0         118.9
1777            Joe Kemp                NaN  ...         7.0         139.4
1778         Jeff Lockie                NaN  ...         5.0         121.9
1779        Carl Meadows                NaN  ...        10.0          94.4

[1456 rows x 14 columns]

In [14]:
df['starts_per_season'].value_counts(normalize=True)

0.000000     0.198020
2.000000     0.054455
1.000000     0.049505
0.500000     0.039604
5.000000     0.034653
               ...
13.777778    0.004950
5.666667     0.004950
2.444444     0.004950
12.166667    0.004950
3.571429     0.004950
Name: starts_per_season, Length: 102, dtype: float64